@model IEnumerable<CreateEventModel>
@{
    ViewData["Title"] = "Events Details";
}
@*<h1>@ViewData["Title"]</h1>*@

<p>Past Events.</p>
<div class="container">
    <h3 class="display-4">All events</h3>
    <div class="row" >

        @foreach (var book in Model)
            {
              <div class="col-md-4">
                  <div class="card-mb-4 shadow-sm">
                      <div class="card-body">
                          <h3 class="card-title">@book.Title</h3>
                      </div>
                  </div>
              </div>
            }


    </div>
</div>